<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.questionbank.dao.ProfessionMapper">
  <resultMap id="BaseResultMap" type="com.questionbank.domain.Profession">
    <id column="profession_id" jdbcType="INTEGER" property="professionId" />
    <result column="profession_name" jdbcType="CHAR" property="professionName" />
  </resultMap>
  <sql id="Base_Column_List">
    profession_id, profession_name
  </sql>
  <insert id="insertSelective" parameterType="com.questionbank.domain.Profession">
    insert into profession
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="professionId != null">
        profession_id,
      </if>
      <if test="professionName != null">
        profession_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="professionId != null">
        #{professionId,jdbcType=INTEGER},
      </if>
      <if test="professionName != null">
        #{professionName,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.questionbank.domain.Profession">
    update profession
    <set>
      <if test="professionName != null">
        profession_name = #{professionName,jdbcType=CHAR},
      </if>
    </set>
    where profession_id = #{professionId,jdbcType=INTEGER}
  </update>
</mapper>